<template>
<div class="row">
    <div class="col-md-9">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/dashboard/customers">{{ trans('lion-customers.customers') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ trans('lion-buttons.new') }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-3 text-right">

    </div>
    <div class="col-md-12 mt-2">
        <div class="card">
            <div class="card-body">
                <form action="/dashboard/customers"
                      method="post"
                      enctype="multipart/form-data">
                    <form-customer></form-customer>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<style>

</style>

<script>
export default {
    name: 'Create',
    data () {
        return {

        }
    },
    methods: {

    },
    mounted () {

    }
}
</script>
