<template>
<div class="row">
    <input type="hidden" name="_token" :value="csrf">

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
        <h4>{{ trans('lion-customers.basic_info') }}</h4>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
        <!-- Name -->
        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label text-right">{{ trans('lion-customers.name') }}</label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       :placeholder="trans('lion-customers.name')" required>
            </div>
        </div>
        <!-- End: Name -->

        <!-- Company Name -->
        <div class="form-group row">
            <label for="company_name" class="col-sm-3 col-form-label text-right">
                {{ trans('lion-customers.company_name') }}
            </label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       id="company_name"
                       name="company_name"
                       :placeholder="trans('lion-customers.company_name')">
            </div>
        </div>
        <!-- End: Company Name -->

        <!-- Document -->
        <div class="form-group row">
            <label for="document" class="col-sm-3 col-form-label text-right">
                {{ trans('lion-customers.document') }}
            </label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       name="document"
                       id="document"
                       :placeholder="trans('lion-customers.document')">
            </div>
        </div>
        <!-- End: Document -->

        <!-- Document -->
        <div class="form-group row">
            <label for="picture" class="col-sm-3 col-form-label text-right">
                {{ trans('lion-customers.picture') }}
            </label>
            <div class="col-sm-9">
                <input type="file"
                       id="picture"
                       name="picture"
                       :placeholder="trans('lion-customers.picture')">
            </div>
        </div>
        <!-- End: Document -->

        <!-- About -->
        <div class="form-group row">
            <label for="about" class="col-sm-3 col-form-label text-right">
                {{ trans('lion-customers.about') }}
            </label>
            <div class="col-sm-9">
                <textarea name="about"
                          id="about"
                          class="form-control"
                          :placeholder="trans('lion-customers.about')"></textarea>
            </div>
        </div>
        <!-- End: About -->

        <!-- Slug -->
        <div class="form-group row">
            <label for="slug" class="col-sm-3 col-form-label text-right">
                {{ trans('lion-customers.slug') }}
            </label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       name="slug"
                       id="slug"
                       :placeholder="trans('lion-customers.slug')">
            </div>
        </div>
        <!-- End: Slug -->

        <!-- Website -->
        <div class="form-group row">
            <label for="website" class="col-sm-3 col-form-label text-right">
                {{ trans('lion-customers.website') }}
            </label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       name="website"
                       id="website"
                       :placeholder="trans('lion-customers.website')">
            </div>
        </div>
        <!-- End: Website -->

        <!-- Submit button -->
        <div class="form-group row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right" id="submitFormCustomer">
                <input type="submit" class="btn btn-dark" :value="trans('lion-buttons.save')">
            </div>
        </div>
        <!-- End: Submit button -->
    </div>
</div>
</template>

<style>

</style>

<script>
import CsrfToken from '../../classes/CsrfToken'

export default {
    props: ['customerData'],
    data () {
        return {
            customer: this.customerData,
            csrf: new CsrfToken().csrf()
        }
    },
    mounted() {

    }
}
</script>
