<template>
    <div class="row">
        <input type="hidden" name="_token" :value="csrf">
        <input type="hidden" name="customer_id" id="customer_id">

        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <h4>{{ trans('lion-customers.address') }}</h4>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">

            <!-- Type -->
            <div class="form-group row">
                <label for="type" class="col-sm-3 col-form-label text-right">{{ trans('lion-customers.address_type') }}</label>
                <div class="col-sm-9">
                    <select class="form-control"
                            id="type"
                            name="type"
                            v-model="address.type"
                            :placeholder="trans('lion-customers.address_type')" required>
                        <option value=""></option>
                        <option value="main">{{ trans('lion-customers.address_type_main') }}</option>
                        <option value="mail">{{ trans('lion-customers.address_type_mail') }}</option>
                    </select>
                </div>
            </div>
            <!-- End: Type -->

            <!-- Number -->
            <div class="form-group row">
                <label for="number" class="col-sm-3 col-form-label text-right">
                    {{ trans('lion-customers.number') }}
                </label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           name="number"
                           id="number"
                           :placeholder="trans('lion-customers.number')">
                </div>
            </div>
            <!-- End: Number -->

            <!-- Address -->
            <div class="form-group row">
                <label for="address" class="col-sm-3 col-form-label text-right">
                    {{ trans('lion-customers.address') }}
                </label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           id="address"
                           name="address"
                           :placeholder="trans('lion-customers.address')">
                </div>
            </div>
            <!-- End: Address -->

            <!-- Complement -->
            <div class="form-group row">
                <label for="complement" class="col-sm-3 col-form-label text-right">
                    {{ trans('lion-customers.complement') }}
                </label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           name="complement"
                           id="complement"
                           :placeholder="trans('lion-customers.complement')">
                </div>
            </div>
            <!-- End: Complement -->

            <!-- Neighborhood -->
            <div class="form-group row">
                <label for="neighborhood" class="col-sm-3 col-form-label text-right">
                    {{ trans('lion-customers.neighborhood') }}
                </label>
                <div class="col-sm-9">
                    <input type="text"
                           id="neighborhood"
                           name="neighborhood"
                           class="form-control"
                           :placeholder="trans('lion-customers.neighborhood')">
                </div>
            </div>
            <!-- End: Neighborhood -->

            <!-- City -->
            <div class="form-group row">
                <label for="neighborhood" class="col-sm-3 col-form-label text-right">
                    {{ trans('lion-customers.city') }}
                </label>
                <div class="col-sm-9">
                    <input type="text"
                           id="city"
                           name="city"
                           class="form-control"
                           :placeholder="trans('lion-customers.city')">
                </div>
            </div>
            <!-- End: City -->

            <!-- State -->
            <div class="form-group row">
                <label for="state" class="col-sm-3 col-form-label text-right">
                    {{ trans('lion-customers.state') }}
                </label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           name="state"
                           id="state"
                           :placeholder="trans('lion-customers.state')">
                </div>
            </div>
            <!-- End: State -->

            <!-- Zip Code -->
            <div class="form-group row">
                <label for="zip_code" class="col-sm-3 col-form-label text-right">
                    {{ trans('lion-customers.zip_code') }}
                </label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           name="zip_code"
                           id="zip_code"
                           :placeholder="trans('lion-customers.zip_code')">
                </div>
            </div>
            <!-- End: Zip Code -->

            <!-- Submit button -->
            <div class="form-group row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right" id="submitFormCustomer">
                    <input type="submit" class="btn btn-dark" :value="trans('lion-buttons.save')">
                </div>
            </div>
            <!-- End: Submit button -->
        </div>
    </div>
</template>

<script>
import CsrfToken from '../../classes/CsrfToken'

export default {
    name: "FormAddress",
    props: {
        customerSelected: Object
    },
    computed: {
        customerId () {
            return this.customer.id
        }
    },
    data () {
        return {
            csrf: new CsrfToken().csrf(),
            address: {
                type: '',
                address: '',
                number: '',
                complement: '',
                neighborhood: '',
                city: '',
                state: '',
                zip_code: '',
                code: ''
            },
        }
    },
    methods: {

    },
    mounted() {
        console.log(this.customerSelected)
        console.log(this.customerId)

        //document.getElementById('customer_id').setAttribute('value')
    }
}
</script>

<style scoped>

</style>