<template>
<div class="row">
    <div class="col-md-9">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ trans('lion-customers.customers') }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-3 text-right">
        <a href="/dashboard/customers/create" class="btn btn-dark">
            {{ trans('lion-buttons.new') }}
        </a>
    </div>
    <div class="col-md-12 mt-2">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <th>{{ trans('lion-customers.picture') }}</th>
                        <th>{{ trans('lion-customers.name') }}</th>
                        <th>{{ trans('lion-customers.company_name') }}</th>
                        <th>{{ trans('lion-customers.website') }}</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr v-for="customer in customers">
                            <td><img :src="customer.picture" height="75"></td>
                            <td>{{ customer.name}}</td>
                            <td>{{ customer.company_name }}</td>
                            <td>
                                <a v-if="customer.website != null" :href="customer.website" target="_blank">{{ customer.website }}</a>
                            </td>
                            <td class="text-right">
                                <a :href="'/dashboard/customers/' + customer.id" class="btn btn-primary btn-sm">
                                    {{ trans('lion-buttons.see') }}
                                </a>
                                <a v-on:click="callDeleteCustomer(customer.id)" class="btn btn-danger btn-sm">
                                    {{ trans('lion-buttons.delete') }}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-delete-customer" tabindex="-1" role="dialog" aria-labelledby="modalDeleteCustomerLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-light">
                    <h5 class="modal-title" id="modalDeleteCustomerLabel">{{ trans('lion-customers.title_delete_customer') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ trans('lion-customers.message_delete_customer') }}

                    <div class="row mt-2">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <b>{{ customerTarget.name }}</b>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">{{ trans('lion-buttons.close') }}</button>
                    <button type="button"
                            class="btn btn-danger"
                            v-on:click="deleteCustomer""">{{ trans('lion-buttons.delete') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<style>

</style>

<script>
import axios from 'axios'

export default {
    name: 'Index',
    data () {
        return {
            customers: {},
            customerTarget: {}
        }
    },
    methods: {
        loadDefaultData () {
            axios.get('/dashboard/customers/data').then(res => {
                this.customers = res.data
            })
        },
        callDeleteCustomer(customerId) {
            axios.get('/dashboard/customers/data?where=id,' + customerId).then(res => {
                this.customerTarget = res.data[0]
            })

            $('#modal-delete-customer').modal('show')
        },
        deleteCustomer() {
            axios.delete('/dashboard/customers/' + this.customerTarget.id).then(res => {
                this.loadDefaultData()

                $('#modal-delete-customer').modal('hide')
            })
        }
    },
    mounted () {
        this.loadDefaultData()
    }
}
</script>
