<template>
<div class="row">
    <div class="col-md-9">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/dashboard/customers">{{ trans('lion-customers.customers') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ customer.name }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-3 text-right">
    </div>
    <div class="col-md-12 mt-2">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active"
                           id="home-tab"
                           data-toggle="tab"
                           href="#tab-basic-info"
                           role="tab"
                           aria-controls="tab-basic-info"
                           aria-selected="true">{{ trans('lion-customers.basic_info') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="profile-tab"
                           data-toggle="tab"
                           href="#profile"
                           role="tab"
                           aria-controls="profile"
                           aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="contact-tab"
                           data-toggle="tab"
                           href="#contact"
                           role="tab"
                           aria-controls="contact"
                           aria-selected="false">Contact</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- Basic info -->
                    <div class="tab-pane fade show active" id="tab-basic-info" role="tabpanel" aria-labelledby="tab-basic-info-tab">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-5">
                                <img :src="customer.picture" height="75">
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 mb-5">
                                <h1>{{ customer.name }} <small>{{ customer.company_name }}</small></h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                                <label><b>{{ trans('lion-customers.document') }}</b></label><br>
                                <span>{{ customer.document }}</span>
                            </div>

                            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                                <label><b>{{ trans('lion-customers.slug') }}</b></label><br>
                                <span>{{ customer.slug }}</span>
                            </div>

                            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                                <label><b>{{ trans('lion-customers.website') }}</b></label><br>
                                <span>{{ customer.website }}</span>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                                <label><b>{{ trans('lion-customers.about') }}</b></label><br>
                                <span>{{ customer.about }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- End: Basic info -->

                    <!-- Address -->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row" v-if="customer.customer_address != ''">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <th>{{ trans('lion-customers.address_type') }}</th>
                                        <th>{{ trans('lion-customers.address') }}</th>
                                        <th>{{ trans('lion-customers.state') }}</th>
                                        <th>{{ trans('lion-customers.zip_code') }}</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="address in customer.customer_address">
                                            <td>{{ address.type }}</td>
                                            <td>{{ address.number + ' ' + address.address + ', ' + address.complement }}</td>
                                            <td>{{ address.state }}</td>
                                            <td>{{ address.zip_code }}</td>
                                            <td>
                                                <button class="btn btn-primary btn-sm" v-on:click="callModal('modal-edit-customer-address', address.id)">
                                                    {{ trans('lion-buttons.edit') }}
                                                </button>
                                                <button class="btn btn-danger btn-sm" v-on:click="callModal('modal-delete-customer-address', address.id)">
                                                    {{ trans('lion-buttons.delete') }}
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" v-else>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center p-4">
                                {{ trans('lion-customers.message_no_address') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
                                <button class="btn btn-dark" v-on:click="callModal('modal-create-customer-address', customer.id)">
                                    {{ trans('lion-buttons.new') }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End: Address -->

                    <!-- Contact -->
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                    </div>
                    <!-- End: Contact -->
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Create Address -->
    <div class="modal fade" id="modal-create-customer-address" tabindex="-1" role="dialog" aria-labelledby="modalCreateCustomerAddress" aria-hidden="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-light">
                    <h5 class="modal-title" id="modalCreateCustomerAddress">{{ trans('lion-customers.title_create_customer_address') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/dashboard/customer-addresses" method="post">
                        <form-customer-address v-bind:customer-selected="customer"></form-customer-address>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit Address -->
    <div class="modal fade" id="modal-edit-customer-address" tabindex="-1" role="dialog" aria-labelledby="modalEditCustomerAddress" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-light">
                    <h5 class="modal-title" id="modalEditCustomerAddress">{{ trans('lion-customers.title_delete_customer') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/dashboard/customer-addresses" method="post">
                        <input type="hidden" name="_method" value="put" />
                        <form-customer-address></form-customer-address>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">{{ trans('lion-buttons.close') }}</button>
                    <button type="button"
                            class="btn btn-danger"
                            v-on:click="editCustomerAddress""">{{ trans('lion-buttons.delete') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<style>

</style>

<script>
import axios from 'axios'

export default {
    name: 'Show',
    data () {
        return {
            customer: {},
            targetId: ''
        }
    },
    methods: {
        loadDefaultData () {
            let customerUrl = location.href
            let customerId = customerUrl.split('/')
            axios.get('/dashboard/customers/data?where=id,' + customerId[5]).then(res => {
                this.customer = res.data[0]
            })
        },
        callModal(modalId, targetId) {
            this.targetId = targetId
            $('#' + modalId).modal('show')
        },
        createCustomerAddress() {

        },
        editCustomerAddress() {

        },
        deleteCustomerAddress() {

        }
    },
    mounted () {
        this.loadDefaultData()
    }
}
</script>
