* {
  -webkit-transition-timing-function: ease;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.breadcrumb {
  background-color: transparent;
}

.card {
  -webkit-box-shadow: 0px 29px 75px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 29px 75px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 29px 75px -13px rgba(0,0,0,0.75);
}

.navbar {
  -webkit-box-shadow: 0px 10px 21px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 21px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 21px 3px rgba(0,0,0,0.75);
}

.btn {
  border-radius: 32px;
}

.btn:hover {
  -webkit-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);
}

body, .modal-content {
  background-image: url(/images/body-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.modal-content {
  background-image: url(/images/modal-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.card-body {
  background-image: url(/images/card-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
}