<template>
    <div class="card">
        <div class="card-body">

        </div>
    </div>
</template>
<script>
    import axios from 'axios'

    export default {
        data() {
            return {

            }
        },
        methods: {
            loadDefaultData() {

            }
        },
        mounted() {
            this.loadDefaultData()
        }
    }
</script>
